<mat-toolbar>
  <span>Abrechnung Ladestation<span *ngIf="userRole == 1">en</span>&nbsp;<span *ngIf="from.getTime() > 1">(Nutzungdauer
      von {{from | date:'mediumDate'}} bis {{toInLocalTime|
      date:'mediumDate'}})</span></span>
  <div *ngIf="isLoadingResults" class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults" [diameter]="50"></mat-spinner>
  </div>
  <span class="example-spacer"></span>
  <span class="example-spacer"></span>
  <a href="https://github.com/guidosch/easeeBilling" target="_blank">
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Link to Githup project" #tooltip="matTooltip"
      matTooltip="Open source project by Guido Schnider. Click to see source code hosted on Github."
      matTooltipHideDelay="100000">
      <mat-icon>public</mat-icon>
    </button></a>

  <div style="float: right">
    <span style="margin-right: 5px">{{currentUser}}</span>
    <span class="button-row"><a (click)="logout()" color="primary"
        mat-flat-button><mat-icon>logout</mat-icon>Logout</a></span>
  </div>
</mat-toolbar>

<div class="container">

  <div class="">


    <div style="display: block">
      <mat-chip-listbox aria-label="Timerange selection" [multiple]="true" [selectable]="true">
        <mat-chip-option *ngFor="let chip of chips" [selected]="chip.state" (selectionChange)="changeSelected(chip)"
          (click)="chip.state=!chip.state">{{chip.name}}</mat-chip-option>
      </mat-chip-listbox>

      <div style="margin: 2%;"></div>

      <form (ngSubmit)="onFormSubmit()" [formGroup]="timePeriodForm">
        <mat-form-field class="easee-full-width">
          <label>
            <input [errorStateMatcher]="matcher" formControlName="from" matInput placeholder="Start Abrechnungszeitraum"
              type="date">
          </label>
          <mat-error>
            <span *ngIf="!timePeriodForm.get('from')?.valid && timePeriodForm.get('from')?.touched">Abrechnungsperiode
              Start (Datum) eingeben</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="easee-full-width">
          <label>
            <input [errorStateMatcher]="matcher" formControlName="to" matInput placeholder="Ende Abrechnungszeitraum"
              type="date">
          </label>
          <mat-error>
            <span *ngIf="!timePeriodForm.get('to')?.valid && timePeriodForm.get('to')?.touched">
              Abrechnungsperiode Ende (Datum) eingeben</span>
          </mat-error>
        </mat-form-field>
        <span class="button-row">
          <button
            [disabled]="!timePeriodForm.valid || !timePeriodForm.get('to')?.touched || !timePeriodForm.get('to')?.dirty"
            color="primary" mat-flat-button type="submit"><mat-icon>insights</mat-icon>&nbsp;Lade Daten</button>
        </span>
      </form>
      <div style="margin-top: 1%;" *ngIf="timeDiffInDays > 31">Das Zeitintervall ist grösser als ein Monat. Bitte
        Inverall kleiner wählen.
      </div>
    </div>

    <div *ngIf="chargers.length > 0">
      <hr>
    </div>

    <!-- billing overview table -->
    <div *ngIf="chargers.length > 0">
      <table [dataSource]="chargers" class="mat-elevation-z8" mat-table>
        <!-- Parkplatz Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Parkplatz #</th>
          <td *matCellDef="let charger" mat-cell> {{charger.name}} </td>
          <td *matFooterCellDef mat-footer-cell> Total</td>
        </ng-container>

        <!-- users Column -->
        <ng-container matColumnDef="users">
          <th *matHeaderCellDef mat-header-cell> Nutzer</th>
          <td *matCellDef="let charger" mat-cell> {{charger.users}} </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>

        <!-- total kWh Column -->
        <ng-container matColumnDef="totalConsumption">
          <th *matHeaderCellDef mat-header-cell> Total kWh</th>
          <td *matCellDef="let charger" mat-cell> {{charger.totalConsumption | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionHighRate() + getTotalConsumptionLowRate() |
            number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Niedertarif Column -->
        <ng-container matColumnDef="totalConsumptionKWhLowRate">
          <th *matHeaderCellDef mat-header-cell> Total kWh Niedertarif</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalConsumptionKWhLowRate | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionLowRate() | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Hochtarif Column -->
        <ng-container matColumnDef="totalConsumptionKWhHighRate">
          <th *matHeaderCellDef mat-header-cell> Total kWh Hochtarif</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalConsumptionKWhHighRate | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionHighRate() | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Solar el Column -->
        <ng-container matColumnDef="totalConsumptionEligibleForSolar">
          <th *matHeaderCellDef mat-header-cell> Total kWh Solarertrag*</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalConsumptionEligibleForSolar | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionEligibleForSolar() | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total cost Column -->
        <ng-container matColumnDef="totalCostsInPeriod">
          <th *matHeaderCellDef mat-header-cell> Total Kosten in CHF</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalCostsInPeriod | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalCostInPeriod() | number: '1.0-2'}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
      </table>
      * adsf
    </div>


  </div>

  <!--ICONS: https://www.angularjswiki.com/angular/angular-material-icons-list-mat-icon-list/-->

  <div style="padding-top: 20px" *ngIf="chargers.length> 0">
    <span class="button-row"><a (click)="onExport()" color="primary" mat-flat-button><mat-icon>download</mat-icon>Export
        als CSV</a></span>
  </div>

  <div style="padding-top: 20px" *ngIf="chargers.length> 0">
    <span class="button-row"><a (click)="reset()" color="primary"
        mat-flat-button><mat-icon>clear</mat-icon>Zurücksetzen</a></span>
  </div>

  <!--
  <span class="button-row"><a (click)="mapChargerToPermissionData()" color="primary" mat-flat-button><mat-icon>load</mat-icon>Map user to chargers</a></span>
  -->


</div>