<mat-toolbar>
    <span>Abrechnung Ladestationen Tièchestrasse (Login mit <a href="https://easee.cloud/" target="_blank">Easee
            Account</a> Login Daten)</span>
    <span class="example-spacer"></span>
    <div class="easee-loading-shade" *ngIf="isLoadingResults" style="margin-top: 2%;">
        <mat-spinner *ngIf="isLoadingResults" [diameter]="50"></mat-spinner>
    </div>
    <span class="example-spacer"></span>
    <a href="https://github.com/guidosch/easeeBilling" target="_blank">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Link to Githup project"
            #tooltip="matTooltip"
            matTooltip="Open source project by Guido Schnider. Click to see source code hosted on Github."
            matTooltipHideDelay="100000">
            <mat-icon>public</mat-icon>
        </button></a>
</mat-toolbar>

<mat-card appearance="outlined" class="easee-card">
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
        <mat-form-field class="easee-full-width">
            <label>
                <input matInput placeholder="Username" formControlName="username" [errorStateMatcher]="matcher">
            </label>
            <mat-error>
                <span *ngIf="!loginForm.get('username')?.valid && loginForm.get('username')?.touched">Bitte Easee
                    Account Benutzername eingeben</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="easee-full-width">
            <label>
                <input type="password" matInput placeholder="Password" formControlName="password"
                    [errorStateMatcher]="matcher">
            </label>
            <mat-error>
                <span *ngIf="!loginForm.get('password')?.valid && loginForm.get('password')?.touched">Bitte Passwort
                    eingeben</span>
            </mat-error>
        </mat-form-field>
        <div class="button-row">
            <button type="submit" [disabled]="!loginForm.valid" mat-flat-button
                color="primary"><mat-icon>login</mat-icon>&nbsp;Login</button>
        </div>
    </form>
</mat-card>
