<div class="container">

  <div class="">

    <mat-grid-list cols="2" rowHeight="3:1">
      <mat-grid-tile>
        <h2>Abrechnung Ladestationen <span *ngIf="from.length > 0">(Nutzungdauer von {{from | date:'mediumDate'}} bis {{to| date:'mediumDate'}})</span></h2>
        <div style="display: block">
          <form (ngSubmit)="onFormSubmit()" [formGroup]="timePeriodForm">
            <mat-form-field class="easee-full-width">
              <label>
                <input [errorStateMatcher]="matcher" formControlName="from" matInput
                       placeholder="Start Abrechnungszeitraum"
                       type="date">
              </label>
              <mat-error>
                <span *ngIf="!timePeriodForm.get('from')?.valid && timePeriodForm.get('from')?.touched">Abrechnungsperiode Start (Datum) eingeben</span>
              </mat-error>
            </mat-form-field>
            <mat-form-field class="easee-full-width">
              <label>
                <input [errorStateMatcher]="matcher" formControlName="to" matInput
                       placeholder="Ende Abrechnungszeitraum"
                       type="date">
              </label>
              <mat-error>
                <span *ngIf="!timePeriodForm.get('to')?.valid && timePeriodForm.get('to')?.touched">
                    Abrechnungsperiode Ende (Datum) eingeben</span>
              </mat-error>
            </mat-form-field>
            <span class="button-row">
      <button [disabled]="!timePeriodForm.valid" color="primary" mat-flat-button
              type="submit"><mat-icon>insights</mat-icon>&nbsp;Lade Daten</button>
    </span>
          </form>
        </div>
      </mat-grid-tile>
      <mat-grid-tile style="display: block">
        <div style="float: right">
          <span style="margin-right: 5px">{{currentUser}}</span>
          <span class="button-row"><a (click)="logout()" color="primary" mat-flat-button><mat-icon>logout</mat-icon>Logout</a></span>
        </div>

      </mat-grid-tile>
    </mat-grid-list>

    <!-- billing overview table -->
    <div *ngIf="chargers.length > 0">
      <table [dataSource]="chargers" class="mat-elevation-z8" mat-table>
        <!-- Parkplatz Column -->
        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell> Parkplatz #</th>
          <td *matCellDef="let charger" mat-cell> {{charger.name}} </td>
          <td *matFooterCellDef mat-footer-cell> Total</td>
        </ng-container>

        <!-- users Column -->
        <ng-container matColumnDef="users">
          <th *matHeaderCellDef mat-header-cell> Nutzer</th>
          <td *matCellDef="let charger" mat-cell> {{charger.users}} </td>
          <td *matFooterCellDef mat-footer-cell></td>
        </ng-container>

        <!-- total kWh Column -->
        <ng-container matColumnDef="totalConsumption">
          <th *matHeaderCellDef mat-header-cell> Total kWh</th>
          <td *matCellDef="let charger" mat-cell> {{charger.totalConsumption | number: '1.0-2'}} </td>
          <td *matFooterCellDef
              mat-footer-cell> {{getTotalConsumptionHighRate() + getTotalConsumptionLowRate()  | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Niedertarif Column -->
        <ng-container matColumnDef="totalConsumptionKWhLowRate">
          <th *matHeaderCellDef mat-header-cell> Total kWh Niedertarif</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalConsumptionKWhLowRate | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionLowRate()  | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Hochtarif Column -->
        <ng-container matColumnDef="totalConsumptionKWhHighRate">
          <th *matHeaderCellDef mat-header-cell> Total kWh Hochtarif</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalConsumptionKWhHighRate | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionHighRate()  | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total kWh Solar el Column -->
        <ng-container matColumnDef="totalConsumptionEligibleForSolar">
          <th *matHeaderCellDef mat-header-cell> Total kWh Solarertrag</th>
          <td *matCellDef="let charger"
              mat-cell> {{ charger.totalConsumptionEligibleForSolar | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalConsumptionEligibleForSolar()  | number: '1.0-2'}} </td>
        </ng-container>

        <!-- total cost Column -->
        <ng-container matColumnDef="totalCostsInPeriod">
          <th *matHeaderCellDef mat-header-cell> Total Kosten in CHF</th>
          <td *matCellDef="let charger" mat-cell> {{ charger.totalCostsInPeriod | number: '1.0-2'}} </td>
          <td *matFooterCellDef mat-footer-cell> {{getTotalCostInPeriod()  | number: '1.0-2'}} </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>
        <tr *matFooterRowDef="displayedColumns" mat-footer-row></tr>
      </table>
    </div>


  </div>


  <div *ngIf="isLoadingResults" class="example-loading-shade">
    <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
  </div>


</div>


