  .container {
    padding: 20px;
  }

  mat-grid-tile {
    display: block  !important;
    justify-content: unset !important;
  }

  .mat-grid-tile-content {
    display: block  !important;
    justify-content: unset !important;
  }

  main {
    display: block;
    justify-content: unset;
  }

  .easee-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .easee-card {
    min-width: 150px;
    max-width: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .easee-full-width {
    width: 100%;
  }

  .easee-full-width:nth-last-child(0) {
    margin-bottom: 10px;
  }

  .button-row {
    margin: 10px 0;
    /*
    mat-icon {
      margin-right: 10px
    }*/
  }

  .mat-flat-button {
    width: 120px;
    margin: 5px;
  }

  tr.mat-footer-row td {
    font-weight: bold;
  }

  table {
    width: 100%;
  }

