.container {
    padding: 20px;
}


.easee-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.easee-card {
    min-width: 150px;
    max-width: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    margin-top: 1em;
}

.easee-full-width {
    width: 100%;
}

.easee-full-width:nth-last-child(0) {
    margin-bottom: 10px;
}

input.mat-mdc-input-element::-webkit-calendar-picker-indicator {
    display: block;
}

.mat-mdc-unelevated-button {
    margin: 5px;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

table {
    width: 100%;
}

.example-spacer {
    flex: 1 1 auto;
  }
